  <%- include('header') %> 
    <div class="container">
      <h1>Realizar pergunta</h1>
      <hr>
      <form>
        <label>Título</label>
        <input type="text" placeholder="título" class="form-control">
        <br>
        <textarea placeholder="Descrição" class="form-control"></textarea>
        <br>
        <button class="btn btn-success">Perguntar</button>
      </form>
    </div>
  <%- include('footer') %> 

 