  <%- include('header') %> 
    <div class="container">
      
      <div class="card">
        <div class="card-header">
          <h1>Realizar pergunta</h1>
        </div>
        <div class="card-body">
          <form>
            <label>Título</label>
            <input type="text" placeholder="título" class="form-control">
            <br>
            <textarea placeholder="Descrição" class="form-control"></textarea>
            <br>
            <button class="btn btn-success">Perguntar</button>
          </form>
        </div>
      </div>
   
    </div>
  <%- include('footer') %> 

 