<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Guia perguntas</title>
</head>
<body>
  <h1><%= nome %></h1>
  <h1><%= lang %></h1>

  <% if(msg) { %>
    <h1>Erro!</h1>
  <% }else { %>  
    <h1>Não houve erro!</h1>
  <% } %> 

  <% produtos.forEach( produto => { %>
    <ul>
      <li>Item: <%= produto.nome %>, Preço: <%= produto.preco %> </li>
    </ul>
  <%}) %> 
</body>
</html>