<%- include('../../partials/header') %> 
<%- include('../../partials/navbar') %> 

    <div class="container">
      <h2 class="mt-4 mb-4">Categorias</h2>
      <table class="table">
        <thead>
          <th>ID</th>
          <th>Título</th>
          <th>Slug</th>
          <th>Ações</th>
        </thead>
        <tbody>
          <th>1</th>
          <th>Dev Web</th>   
          <th>Dev-Web</th>
          <th></th>   
        </tbody>
      </table>
      
    </div>

<%- include('../../partials/footer') %> 